.place-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  }

  a {
    text-decoration: none!important;
  }

  p {
    background: linear-gradient(45deg, #d5710e, #dab603);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; /* necessario per WebKit */
  }
  
  .photo-container {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
    height: 250px;
    width: 250px;

  }
  
  .photo-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: opacity 0.2s;
    border-radius: 20px;
  }
  
  .photo-container a:hover img {
    opacity: 0.9;
  }


  
  /* Keep only used styles from above and remove these unused ones */
  .info-card {
    display: none;
  }
  
  .place-types {
    display: none;
  }
  
  @media (max-width: 767.98px) {
    .place-details {
      width: 95%;
    }
    
    .cocktail-reviews h3 {
      font-size: 1.5rem;
    }
  } 