// src/styles/variables.scss
@font-face {
    font-family: 'SF Pro Text';
    src: url('../../public/assets/fonts/SF-Pro-Text-Semibold.otf') format('opentype');
    font-weight: 100; /* Peso del font, puoi modificarlo se necessario */
    font-style: normal;
}


$font-family-base: 'SF Pro Text', sans-serif; 

:root {
    --bs-tooltip-arrow-width: 0;
    --bs-tooltip-arrow-height: 0;
  }
  
  .tooltip .arrow,
  .tooltip .tooltip-arrow {
    display: none !important;
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
  }