.profile-container {
    max-width: 900px;
    margin-top: 80px;
  }
  
.clickable {
  cursor: pointer;
}

.user-profile-nav {
  margin-bottom: 2rem;
}


.instagram-tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;

  .nav-item {
    flex: 1;
    text-align: center;

    .nav-link {
      font-size: 1.1rem;
      font-weight: bold;
      padding: 10px 0;
      color: #333;
      transition: color 0.2s ease;
      border: none;
      border-bottom: 2px solid transparent;
      background-color: transparent;

      &:hover {
        color: #000;
        background-color: transparent;
      }

      &.active {
        color: #000;
        border-bottom: 2px solid #000;
      }

      
      .cocktail-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr))!important; // 5 colonne
        grid-auto-rows: 300px;
        gap: 1.5rem;
        justify-content: center;
        padding: 20px;
      }
    }
  }
}


  