.cocktail-detail-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* TOP SECTION */
.top-section {
  display: flex;
  align-items: stretch;
  gap: 2rem;
}

.cocktail-image img {
  width: 250px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.cocktail-info {
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
}

.cocktail-instructions{
  border-bottom: 1px solid #6c757d;
}

.info-main h3 {
  font-size: 1.3rem;
  color: #333;
}

.info-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.bottom-section h3 {
  font-size: 1.3rem;
  color: #333;
}

.cocktail-ingredients {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.ingredient-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.ingredient-list .ingredient {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ingredient-list .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(90deg, #d5710e, #dab603);
}

/* ISTRUZIONI */
.cocktail-instructions {
  font-size: 1rem;
  color: #333;
}

.user-profile-link {
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 4px 8px;
  border-radius: 20px;
}

.user-profile-link:hover {
  background-color: rgba(0, 123, 255, 0.1);
}


@media screen and (max-width: 768px) {
  .cocktail-info {
    flex-direction: column!important;
  }
  .cocktail-instructions {
    flex-direction: column!important;
  }
  .cocktail-ingridients {
    flex-direction: column!important;  
  }
}