<div *ngIf="loading">Caricamento...</div>

<div *ngIf="cocktail" class="cocktail-detail-container">
  <div class="top-section d-flex flex-column align-items-center justify-content-center mb-4">
    <div class="d-flex align-items-center justify-content-center">
      <h2>{{ cocktail.strDrink }}</h2>
      <!-- Pulsante preferito -->
      <button
        class="favorite-icon-btn "
        style="background: none; border: none;"
        (click)="toggleFavorite(cocktail)">
        <ng-icon
          *ngIf="!cocktail.isFavorite"
          name="heroBookmark"
          style="width: 22px; height: 22px">
        </ng-icon>
        <ng-icon
          *ngIf="cocktail.isFavorite"
          name="heroBookmarkSolid"
          style="width: 22px; height: 22px">
        </ng-icon>
      </button>
    </div>
  </div>
  <div class="top-section d-flex justify-content-center mb-5">
    <!-- Immagine -->
    <div class="cocktail-image">
      <img [src]="cocktail.strDrinkThumb" alt="{{ cocktail.strDrink }}" />
    </div>
  </div>
  <div *ngIf="cocktail.userName" class="created-by mt-3 mb-0 d-flex align-items-center justify-content-start">
    <strong>Created by:</strong>
    <a 
      [routerLink]="['/profile', cocktail.userName]"
      class="d-flex align-items-center user-profile-link text-decoration-none">
      <app-user-image
        [userName]="cocktail.userName"
        size="small"
        class="me-2 clickable">
      </app-user-image>
      <div class="mb-0">{{ cocktail.userName }}</div>
    </a>
  </div>

  <!-- Info + Created by incolonnati -->
  <div class="cocktail-info row d-flex justify-content-center">
    <div class="info-main col-3 d-flex justify-content-start my-5">
      <h3>Details</h3>
    </div>
    <div class="info-details col-9 my-5">
      <div>Category: <span class="text-muted"> {{ cocktail.strCategory }}</span></div> 
      <div>Alcholic: <span class="text-muted">{{ cocktail.strAlcoholic }}</span></div>
      <div>Glass type: <span class="text-muted">  {{ cocktail.strGlass }}</span></div>
    </div>
  </div>
  

  <!-- Sezione inferiore: istruzioni e ingredienti -->
  <div class="bottom-section">
    <div class="cocktail-instructions row d-flex justify-content-center">
      <h3 class="col-3 d-flex justify-content-start my-5">Instructions</h3>
      <div class="text-muted col-9 my-5">{{ cocktail.strInstructions }}</div>
    </div>

    <div class="cocktail-ingridients row d-flex justify-content-center">
      <h3 class="col-3 d-flex justify-content-start my-5">Ingredients</h3>
      <ul class="ingredient-list col-9 my-5">
        <!-- Genera i dots in base al numero di ingredienti -->
        <div *ngFor="let i of getIngredientDots()">
          <ng-container *ngIf="cocktail['strIngredient' + i]">
            <div class="ingredient" >
              <span class="dot"></span>
              <span class="text-muted">{{ cocktail['strIngredient' + i] }}</span> - {{ cocktail['strMeasure' + i] || '' }}
            </div>
          </ng-container>
        </div>
      </ul>      
    </div>
  </div>
  
  <!-- Places Reviews Section -->
  <div class="places-section container">
    <h3 class="text-center mb-4">Where to find this cocktail near you
    </h3>
    <app-button
      label="Leave a review"
      (clicked)="openAddReview(cocktail.strDrink)">
    </app-button>
    
    <app-reviews-grid [cocktailId]="cocktailId ?? ''"></app-reviews-grid>
  </div>
</div>

<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>